In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostRegressor
param_grid={'n_estimators':[10,50,100,1000],'loss':['linear','square','exponential']}
grid=GridSearchCV(AdaBoostRegressor(),param_grid,refit=True,verbose=3, n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=AdaBoostRegressor(), n_jobs=-1,
             param_grid={'loss': ['linear', 'square', 'exponential'],
                         'n_estimators': [10, 50, 100, 1000]},
             verbose=3)

In [9]:
re=grid.cv_results_

print("The R_score value for the best parameter {}:".format(grid.best_params_))

The R_score value for the best parameter {'loss': 'linear', 'n_estimators': 50}:

In [10]:
table=pd.DataFrame.from_dict(re)

In [11]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.065261,0.030979,0.016808,0.002364,linear,10,"{'loss': 'linear', 'n_estimators': 10}",0.839609,0.789902,0.829983,0.797301,0.852074,0.821774,0.024159,4
1,0.088723,0.016621,0.009382,0.007660,linear,50,"{'loss': 'linear', 'n_estimators': 50}",0.841808,0.786532,0.851574,0.820223,0.843134,0.828654,0.023466,1
2,0.080233,0.010380,0.012505,0.006253,linear,100,"{'loss': 'linear', 'n_estimators': 100}",0.839175,0.785282,0.838196,0.820922,0.835348,0.823785,0.020342,3
3,0.069195,0.015941,0.009397,0.007672,linear,1000,"{'loss': 'linear', 'n_estimators': 1000}",0.860930,0.789534,0.847008,0.810628,0.832259,0.828072,0.025476,2
4,0.066599,0.004523,0.007858,0.005413,square,10,"{'loss': 'square', 'n_estimators': 10}",0.736563,0.610400,0.665110,0.686289,0.697630,0.679198,0.041503,6
5,0.252183,0.009908,0.029965,0.008230,square,50,"{'loss': 'square', 'n_estimators': 50}",0.526593,0.404499,0.481175,0.503340,0.479239,0.478969,0.041019,9
6,0.487453,0.017718,0.036493,0.006606,square,100,"{'loss': 'square', 'n_estimators': 100}",0.513183,0.385185,0.441821,0.454986,0.446889,0.448413,0.040699,10
7,5.631163,0.587872,0.508878,0.035479,square,1000,"{'loss': 'square', 'n_estimators': 1000}",0.489517,0.367039,0.385692,0.426419,0.430623,0.419858,0.042352,12
8,0.061950,0.001775,0.007154,0.008878,exponential,10,"{'loss': 'exponential', 'n_estimators': 10}",0.811175,0.764835,0.826517,0.795594,0.818367,0.803298,0.021758,5
9,0.276449,0.012460,0.019018,0.006139,exponential,50,"{'loss': 'exponential', 'n_estimators': 50}",0.603513,0.529051,0.587138,0.597181,0.608811,0.585139,0.028958,7
10,0.550630,0.039554,0.044922,0.006805,exponential,100,"{'loss': 'exponential', 'n_estimators': 100}",0.539186,0.427303,0.472360,0.511100,0.531936,0.496377,0.041622,8
11,6.040075,0.330819,0.437487,0.079244,exponential,1000,"{'loss': 'exponential', 'n_estimators': 1000}",0.516117,0.330555,0.418448,0.414856,0.459419,0.427879,0.060846,11

In [12]:
age_input=float(input('Age:'))
bmi_input=float(input('BMI:'))
children_input=(input('Children:'))
sex_male_input=(input('Sex_Male 0 or 1:'))
smoker_yes_input=(input('Smoker_Yes 0 or 1:'))

Age:35
BMI:28
Children:2
Sex_Male 0 or 1:1
Smoker_Yes 0 or 1:0

In [13]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print('Future Prediction={}'.format(Future_Prediction))

Future Prediction=[9895.0948834]

C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but AdaBoostRegressor was fitted with feature names
  warnings.warn(