In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':['squared_error','absolute_error','friedman_mse','poisson'],'max_features':['sqrt','log2'],'n_estimators':[10,20,30,40,50,60,70,80,90,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

In [9]:
re=grid.cv_results_
print("The R-score value for the best parameter {}:".format(grid.best_params_))

The R-score value for the best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 90}:

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.121246,0.009416,0.010975,0.006224,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.833962,0.772591,0.845774,0.811911,0.818730,0.816593,0.024963,79
1,0.218225,0.010628,0.012589,0.006297,squared_error,sqrt,20,"{'criterion': 'squared_error', 'max_features':...",0.846914,0.768775,0.862753,0.831064,0.835107,0.828923,0.032027,63
2,0.307729,0.016090,0.009356,0.007639,squared_error,sqrt,30,"{'criterion': 'squared_error', 'max_features':...",0.859073,0.780713,0.863708,0.829343,0.837259,0.834019,0.029607,10
3,0.415924,0.015752,0.015934,0.004742,squared_error,sqrt,40,"{'criterion': 'squared_error', 'max_features':...",0.855297,0.776245,0.861929,0.824712,0.840387,0.831714,0.030562,38
4,0.517626,0.002530,0.021691,0.007826,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.856843,0.771397,0.860014,0.824330,0.839351,0.830387,0.032170,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0.933624,0.014558,0.030233,0.002799,poisson,log2,60,"{'criterion': 'poisson', 'max_features': 'log2...",0.857080,0.782984,0.864139,0.829281,0.840189,0.834734,0.028641,6
76,1.076592,0.007454,0.040925,0.007280,poisson,log2,70,"{'criterion': 'poisson', 'max_features': 'log2...",0.861381,0.777405,0.859747,0.830047,0.837449,0.833206,0.030463,22
77,1.221874,0.066782,0.043232,0.006464,poisson,log2,80,"{'criterion': 'poisson', 'max_features': 'log2...",0.854907,0.778103,0.861753,0.826500,0.840264,0.832306,0.029708,33
78,1.350047,0.046124,0.036446,0.006481,poisson,log2,90,"{'criterion': 'poisson', 'max_features': 'log2...",0.858841,0.776359,0.861709,0.826565,0.842449,0.833185,0.031083,24
79,1.392540,0.114263,0.037278,0.006883,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.855784,0.778677,0.862324,0.831017,0.841144,0.833789,0.029655,13

In [15]:
age_input=float(input('Age:'))
bmi_input=float(input('BMI:'))
children_input=(input('Children:'))
sex_male_input=(input('Sex_Male 0 or 1:'))
smoker_yes_input=(input('Smoker_Yes 0 or 1:'))

Age:28
BMI:20
Children:2
Sex_Male 0 or 1:1
Smoker_Yes 0 or 1:1

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print('Future Prediction={}'.format(Future_Prediction))

Future Prediction=[16560.39857222]

C:\Users\Kathir\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(