In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import GridSearchCV
from lightgbm import LGBMRegressor
param_grid={'n_estimators':[10,50,100,1000],'learning_rate':[0.01,0.3]}
grid=GridSearchCV(LGBMRegressor(),param_grid,refit=True,verbose=2, n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 8 candidates, totalling 40 fits
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000135 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 313
[LightGBM] [Info] Number of data points in the train set: 1338, number of used features: 5
[LightGBM] [Info] Start training from score 13270.422260

GridSearchCV(estimator=LGBMRegressor(), n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.3],
                         'n_estimators': [10, 50, 100, 1000]},
             verbose=2)

In [10]:
re=grid.cv_results_

print("The R_score value for the best parameter {}:".format(grid.best_params_))

The R_score value for the best parameter {'learning_rate': 0.3, 'n_estimators': 10}:

In [11]:
table=pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_learning_rate,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.443888,0.073865,0.003645,0.002977,0.01,10,"{'learning_rate': 0.01, 'n_estimators': 10}",0.162737,0.152965,0.151886,0.158809,0.154318,0.156143,0.004053,8
1,0.818203,0.182117,0.003432,0.006864,0.01,50,"{'learning_rate': 0.01, 'n_estimators': 50}",0.565258,0.530237,0.540971,0.548945,0.539703,0.545023,0.011732,7
2,1.234001,0.024008,0.011061,0.005770,0.01,100,"{'learning_rate': 0.01, 'n_estimators': 100}",0.767177,0.715397,0.751766,0.744336,0.739562,0.743648,0.016940,6
3,11.759122,0.321650,0.028236,0.006304,0.01,1000,"{'learning_rate': 0.01, 'n_estimators': 1000}",0.859276,0.783794,0.872309,0.832935,0.847812,0.839225,0.030602,2
4,0.144939,0.017792,0.006227,0.007627,0.3,10,"{'learning_rate': 0.3, 'n_estimators': 10}",0.873693,0.803233,0.884179,0.839541,0.858048,0.851739,0.028551,1
5,0.600326,0.005595,0.009963,0.006795,0.3,50,"{'learning_rate': 0.3, 'n_estimators': 50}",0.847873,0.756583,0.857724,0.824758,0.837898,0.824967,0.035892,3
6,1.147068,0.007322,0.012284,0.006447,0.3,100,"{'learning_rate': 0.3, 'n_estimators': 100}",0.831021,0.736522,0.842387,0.814104,0.823156,0.809438,0.037625,4
7,8.580164,2.798426,0.027478,0.007614,0.3,1000,"{'learning_rate': 0.3, 'n_estimators': 1000}",0.772620,0.666979,0.776031,0.783741,0.787286,0.757331,0.045479,5

In [15]:
age_input=float(input('Age:'))
bmi_input=float(input('BMI:'))
children_input=int(input('Children:'))
sex_male_input=int(input('Sex_Male 0 or 1:'))
smoker_yes_input=int(input('Smoker_Yes 0 or 1:'))

Age:20
BMI:21
Children:1
Sex_Male 0 or 1:0
Smoker_Yes 0 or 1:0

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print('Future Prediction={}'.format(Future_Prediction))

Future Prediction=[2755.68432011]